@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        margin: 0;
        padding: 0;
    }

    html {
        font-family: Raleway, sans-serif;
        font-size: 11pt;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        min-width: 500px;
    }

    figure {
        margin: 0;
        padding: 0;
    }

    h1, h2, h3 {
        font-family: Lato, Arial, sans-serif;
        font-size: 18pt;
        margin: 0;
        padding: 6px;
        box-sizing: border-box;
        font-weight: normal;
    }

    a, a:visited, a:active, a:hover {
        color: inherit;
    }

    p {
        margin: 0;
        padding: 6px;
        box-sizing: border-box;
    }
}