$black: (
    bgr: #3e4c5a #35404c #2b343e #212830 #121619 #000,
    font: #f4f4f5 #e2e2e4 #cfcfd3 #c9c9cf #b8b8bc #b3b3b7,
    emphasis: #f00 #f00 #f00 #f00 #f00 #f00
);

/*
grau

$dark: (
    bgr: #918c93 #7f7981 #6c676e #59555b #474448 #3c393d,
    font: #000 #000 #fff #fff #e1dfe1 #d3cfd3,
    emphasis: #f00 #f00 #f00 #f00 #f00 #f00
);
 */

/*
feldgrau

$dark: (
    bgr: #5b8882 #547d78 #4d736e #466864 #3f5e5a #385451,
    font: #000 #000 #000 #000 #000 #000 #000,
    emphasis: #000 #000 #000 #000 #000 #000 #000
);
*/

$dark: (
    bgr: #2d4a6b #263f5c #20344c #19293c #131f2d #0f1824,
    font: #edf2f7 #d8e1ee #b9d2df #a0b6d4 #91adcf #90a6cb,
    emphasis: #000 #000 #000 #000 #000 #000 #000
);

$light: (
    bgr: #3c6fa0 #345f89 #2e557b #294c6d #24425f #1f3852,
    font: #fff #fff #fff #fff #fff #fff,
    emphasis: #f00 #f00 #f00 #f00 #f00 #f00
);

$purple: (
    bgr: #ff53e9 #f332d2 #c716ac #9a0085 #6e005f #420039,
    font: #1f001a #37062f #fff #fff0fd #ffb8f5 #ff8ae4,
    emphasis: #f00 #f00 #f00 #f00 #f00 #f00
);

$pink: (
    bgr: #f1a4b6 #ee8ba3 #ea728f #e75a7c #e23d65 #de214f,
    font: #550c1f #400717 #090103 #3b0715 #090103 #fff,
    emphasis: #f00 #f00 #f00 #f00 #f00 #f00
);

$green: (
    bgr: #a1ffc7 #6ffdad #20fc8f #03ee79 #02d26b #02b65d,
    font: #005221 #025024 #034926 #024021 #022c18 #020d07,
    emphasis: #f00 #f00 #f00 #f00 #f00 #f00
);

@mixin color($color, $index) {
    background-color: nth(map-get($color, 'bgr'), $index);
    border-color: nth(map-get($color, 'bgr'), $index);
    fill: nth(map-get($color, 'font'), $index);
    color: nth(map-get($color, 'font'), $index);

    &.placeholder, .placeholer &, & .placeholder {
        background-color: nth(map-get($color, 'bgr'), max($index - 1, 1));
    }

    &.inactive, .inactive &, & .inactive {
        color: adjust-color(nth(map-get($color, 'font'), $index), $alpha: -.8);
    }

    &.emphasis, .emphasis &, & .emphasis {
        color: nth(map-get($color, 'emphasis'), $index);
    }

    .font &, & .font, body &.font {
        color: nth(map-get($color, 'bgr'), $index);
        fill: nth(map-get($color, 'bgr'), $index);
    }

    & .inactive .emphasis, .inactive & .emphasis, .inactive .emphasis &,
    &.inactive.emphasis,
    .inactive &.emphasis, &.emphasis .inactive,
    .emphasis &.inactive, &.inactive .emphasis {
        color: adjust-color(nth(map-get($color, 'emphasis'), $index), $alpha: -.8);
    }

    &.triangle {
        color: nth(map-get($color, 'bgr'), $index);
        background:
            linear-gradient(
                to top left,
                nth(map-get($color, 'bgr'), $index) 0%,
                nth(map-get($color, 'bgr'), $index) calc(50% - 0.8px),
                rgba(0, 0, 0, 0) 50%,
                rgba(0, 0, 0, 0) 100%
            );

        &.ltr {
            background:
                linear-gradient(
                    to top right,
                    nth(map-get($color, 'bgr'), $index) 0%,
                    nth(map-get($color, 'bgr'), $index) calc(50% - 0.8px),
                    rgba(0, 0, 0, 0) 50%,
                    rgba(0, 0, 0, 0) 100%
                );
        }

        &::after {
            background: nth(map-get($color, 'bgr'), $index);
        }
    }
}
