$white: #fff;
$gray10: #eee;
$gray20: #dddcdd;
$gray30: #cccbcc;
$gray40: #bbbabb;
$gray50: #aaa8aa;
$gray60: #999799;
$gray70: #888588;
$gray80: #777477;
$gray90: #666366;
$gray100: #555155;
$gray110: #444044;
$gray120: #333033;
$gray130: #222022;
$gray140: #111011;
$black: #000;

// gunmetal: #2c363f
$dark20: #d5d7d9;
$dark40: #abafb2;
$dark60: #80868c;
$dark80: #565e65;
$dark100: #2c363f;
$dark120: #161b20;

$dark20-font: #424a4d;
$dark40-font: #222426;
$dark60-font: #000;
$dark80-font: #f6f8f8;
$dark100-font: #ecf0f1;
$dark120-font: #dadfe1;

$no: #e75a7c; // dark pink

$yes: #20fc8f; // medium spring green

$light: #eefcfa; // mint cream

$highlight: #420039; // tyrian purple
